<div class="wrapper">
  <h2>Contrast Test</h2>
  <div class="main-container">
    <div class="wrapper">
      <h3>H3 Header</h3>
      <button class="metroBlueButton">
        <div>
          <p class="sStartNowp1">Continue</p>
          <p class="sStartNowp2">on an existing file</p>
        </div>
      </button>
      <button class="sStartImport">
        <div>
          <p class="sStartNowp1">Import</p>
          <p class="sStartNowp2">an existing file</p>
        </div>
      </button>
    </div>
  </div>
</div>
