h1,h2,h3,h4,h5,h6,p, a{
    color: #ff0000 !important;
}


.navbar-inverse {
    color: #333 !important;
    background-color: #ccc !important;
}
.wrapper, .btn {
    background: #fff !important;
    color: #000 !important;
}