<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-next"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Start", "Index", "Start")</li>
                <li>@Html.ActionLink("Interview", "Index", "Interview")</li>
                <li>@Html.ActionLink("Review", "Index", "Review")</li>
            </ul>
            <div>
                <button type="button" id="ContrastButton"
                        class="btn btn-success btn-md">
                    <i class="bi bi-eye"></i>
                </button>
                <div class="ms-1 btn-group">
                    <button type="button" id="FontPlusButton"
                            class="btn btn-success btn-md">
                        <i class="bi bi-plus"></i>
                    </button>
                    <button type="button" id="FontMinusButton"
                            class="btn btn-success btn-md">
                        <i class="bi bi-dash"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
